table {
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	border: 1px solid black;
}

/* ul,ol{
    list-style: upper-roman;
} */

body {
	margin: 10;
}

div {
	border: 1px solid black;
	height: 20px;
}

#box1 {
	background-color: palevioletred;
}
#box2 {
	background-color: peru;
}
#box3 {
	background-color: yellow;
}
#box4 {
	background-color: greenyellow;
}
#box5 {
	background-color: lightseagreen;
}

.box-100 {
	height: 50 px;
	width: 50 px;
}

.border-1 {
	border: 1px solid black;
}

.bg-blueviolet {
	background-color: blueviolet;
}

.bg-red {
	background-color: red;
}
