table {
	border-collapse: collapse;
	width: 100%;
}
th,
td {
	border: 1px solid black;
}

/* ul,ol{
    list-style: upper-roman;
} */

body {
	margin: 10;
}

/* div {
	border: 1px solid black;
	height: 20px;
} */

#box1 {
	background-color: palevioletred;
}
#box2 {
	background-color: peru;
}
#box3 {
	background-color: yellow;
}
#box4 {
	background-color: greenyellow;
}
#box5 {
	background-color: lightseagreen;
}

.box-100 {
	height: 50 px;
	width: 50 px;
}

.border-1 {
	border: 1px solid black;
}

.bg-blueviolet {
	background-color: blueviolet;
}

.bg-red {
	background-color: red;
}

.some-div {
	position: static;
	top: 0px;
	left: 50px;
}

/* descendant selector example */
/* target all <p> tags enclosed in a <div> NO MATTER HOW DEEPLY NESTED */
div p {
	color: rgb(0, 136, 255);
}

section p {
	color: red;
}

/* child selector example */
section > h1 {
	color: green;
}

div > #mock-title {
	color: rgb(255, 221, 127);
}

.mock-div > .mock-title {
	color: rgb(253, 127, 255);
}

div > h1 {
	color: aquamarine;
}

/* Adjacent Sibling Example */
div + p {
	background-color: rgb(183, 157, 52);
}

/* pseudo-classes */
a {
	color: rgb(42, 162, 184);
}

a:active {
	background-color: blue;
}

/* a:hover {
	color: rgb(218, 78, 188);
} */

.youtube-link:hover {
	color: rgb(183, 157, 52);
}
.google:hover {
	color: red;
}

/* 2n is every multiple of 2 children */
ul > li:nth-child(n) {
	background-color: burlywood;
}

ul > li:nth-child(3) {
	background-color: brown;
	color: white;
}

ul > li:nth-child(even) {
	color: aquamarine;
}

ol > li:nth-child(2n + 1) {
	background-color: aquamarine;
}
/* n begins at 0 */
/* 1, 3, 5, 7 */
